body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;

}

h1 {
    font-size: 40px;
    line-height: 150%; /*Para poder separar el interlineado de los textos*/
    letter-spacing: -.2px; /*Para poner espaciado entre letras*/
    /*text-transform: capitalize;* Para transformar el texto de html*/
    color: white;
    margin: 0;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Prr', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

/*
ul {
    margin: 0px;
}
*/

.hero {
    height: 300px;
    background-color: #1b2127;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course {
    margin: 10px 0;
}

.project-date{
    margin: 10px 0;
}

.project-url {
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
    text-align: justify;
    padding-right: 2em;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    height: inherit;
}

.header ul li {
    height: inherit;
}

.menu {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

h1 strong {
    color: #026fff;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid red;

    flex-shrink: 0;
}

ol,ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0;
}

.footer {
    background-color: #1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer a {
    color: white;
}
.event-list{
    display:flex;
    flex-wrap: wrap;
}
.event-list-title{
    width: 100%;
    margin-left: 1em;
}
.event {
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: justify;
}

.event-url{
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
    
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    border: 1px solid white;
    display: block;
    background: transparent;
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;

}

.form-email h3 {
    font-family: 'Source Sans Pro' ,sans-serif;
}

.wrapper {
   /* border: 1px solid red;*/
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.box1{
    display:flex; 
    height: 50px; 
    padding: 0 20px 20px 0;
    border: 1px solid red;
    align-items: center;
}

.icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    margin: 10px 15px;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: .4em;
    top: .4em;
    color: white;
}

.icon.java{
    background-image: url(../images/java.svg);
}

.icon.eclipseide{
    background-image: url(../images/eclipseide.jpg);
}

.icon.git{
    background-image: url(../images/git.svg);
}

.icon.css3{
    background-image: url(../images/css.svg);
}

.icon.html5{
    background-image: url(../images/html5.svg);
}

.icon.javascript{
    background-image: url(../images/JavaScript-logo.png);
}
@media screen and (max-width: 1024px){
    .header{
        justify-content: space-around;
    }

    .wrapper{
        padding: 0 1em;
    }

    .hero {
        padding: 2em;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    h1 {
        font-size: 2em;
        z-index: 2;
    }

    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;

    }

    .portfolio{
        padding: 0;
    }

}

@media screen and (max-width: 767px){
 

    .project {
        display:block;

    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;
        
    }

    .project-course, .project-date, .project-url {
        margin: .4em 0;
    }

    .project-title {
        font-size: 2em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;

    }

    .project-course {
        font-size: .7em;

    }

    .project-date {
        font-size: 1em;

    }

    .project-description {
        font-size: 1.4em;

    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
    }

    .event-description {
        font-size: 1.1em;
    }

    .event-list-title {
        margin-left: 0;
    }
}

@media screen and (max-width: 479px){

    .burger-button{
        display: block;
    }   

    h1 {
        font-size: 1.5em;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ul {
        display: initial;
    }

    .header ul li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .header .logo {
        text-align: center;
    }

   /*  .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

    .menu {
        position: fixed;
        background: rgba(5, 111, 255, .8);
        z-index: 3;
        top: 0;
        /* left: 0; */
        width: 100vw;
        /* height: 100vh; */
        bottom: 0; /* Para que se centre el texto o tambien se puede utilizar height 100vh pero con display flex en el menu ul */
        display: flex;
        align-items: center;
        justify-content: center;
        left: -100vw; /* Para que el menu se oculte se utiliza en viewport de -100 y cree el efecto al hacer click */
        transition: .3s; /* Para el efecto de transicion */
    }

    .menu.is-active {
        left: 0;
    }

    .project-details {
        width: auto;
        font-size: 12px;
    }

    .event-detail {
        margin: -2em .5em .5em .5em;
        padding: 1em;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px){
h1 {
    font-size: 1.2em;
    background: rgba(0, 0, 0, .5);
}
.hero {
    padding: 2em 1em;
}
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?y7v6z1');
    src:  url('fonts/icomoon.eot?y7v6z1#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?y7v6z1') format('truetype'),
      url('fonts/icomoon.woff?y7v6z1') format('woff'),
      url('fonts/icomoon.svg?y7v6z1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1; */
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  .icon-adobeillustrator:before {
    content: "\e901";
    color: #ff7c00;
  }
  .icon-css3:before {
    content: "\e904";
    color: #1572b6;
  }
  .icon-eclipseide:before {
    content: "\e905";
    color: #2c2255;
  }
  .icon-github:before {
    content: "\e902";
  }
  .icon-html5:before {
    content: "\e903";
    color: #e34f26;
  }
  .icon-java:before {
    content: "\e906";
    color: #007396;
  }
  .icon-javascript:before {
    content: "\e907";
    color: #f7df1e;
  }
  